<!--
  [article]="article"
  + [article]: ArticlePreviewComp
  + "article": variable of *ngFor
 -->
<app-article-preview *ngFor="let article of results"
      [article]="article">
</app-article-preview>

<!-- in the process of loading
  - Routing lazy loading
-->
<div class="app-article-preview" [hidden]="!loading">
  Loading articles...
</div>

<!-- if there have no article -->
<div class="app-article-preview" [hidden]="loading || results?.length"  >
  No articles are here... yet
</div>

<app-pagination *ngIf="results?.length && !loading"
    [pager]="pager" [currentUrl]="currentUrl"
    (currentPage)="getCurrentPage($event)">
</app-pagination>
<!--
  if we don't use *ngIf="results.length !== 0" in <app-pagination>
    => <app-pagination> will be loaded before <app-article-preview> ===> FAIL
 -->
