<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <!-- app-article-meta container card of user-info   -->
      <app-article-meta [article]="article">
        <!-- the below things represent for <ng-content> -->

        <!-- [hidden]="!canModify" =>  for owner -->
        <span [hidden]="!canModify">
          <a href="" class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/editor', article.slug]"  >
              <i class="icon-edit"></i>
              Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger ml-3"
              [ngClass]="{disabled: isDeleting}"
              (click)="deleteArticle()" >
            <i class="ion-trash-a"></i>
            Delete Article
          </button>
        </span>

        <!-- for visiter -->
        <span [hidden]="canModify">

        </span>

      </app-article-meta>
    </div>
  </div>

  <!--  content of article -->
  <div class="container page">
    <!-- article content -->
    <div class="row article-content">
      <div class="col-md-12">
        <div>
          {{ article.body }}
        </div>

        <ul class="tag-list">
          <li *ngFor="let tag of article.tagList"
              class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>

    <!--  comment -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *appShowAuthed="true">
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-bock">
                <textarea class="form-control"
                  placeholder="Write a comment..."
                  row="3" [formControl]="commentControl">
                </textarea>
              </div>

              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img" alt="comment author img">
                <button class="btn btn-sm btn-primary" type="submit">
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Sign in</a>
          <span> or </span>
          <a [routerLink]="['/register']">Sign up</a>
          <span> to add comments on this article.</span>
        </div>

        <app-article-comment *ngFor="let comment of comments"
          [comment]="comment" (deleteComment)="onDeleteComment(comment)">
        </app-article-comment>

      </div>
    </div>
  </div>

</div>
